{% extends 'layout/public.html.twig' %}
{% block title %}
    {{ 'page_title.team.list'|trans }}
{% endblock %}
{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="column">
            <div class="ui segment inverted clearing">
                <h3 class="ui header">
                    {{ 'title.team.list' | trans }}
                </h3>
                <div class="ui divider"></div>

                <div class="ui items inverted" id="public_team_list">
                    {% for team in pagination.currentPageResults %}

                        {% if not loop.first %}
                            <hr>
                        {% endif %}

                        <div class="item team">

                            <div class="image">
                                {% if team.image.id is defined %}
                                    <img src="{{ url('render_image', {id: team.image.id}) }}" alt="team_image">
                                {% endif %}
                            </div>

                            <div class="content">
                                <a href="{{ url('public_team_details', {slug:team.slug}) }}" class="header">{{ team.name }}</a>
                                <div class="meta">
                                    <span></span>
                                </div>
                                <div class="description">
                                    <p>

                                        {% if team.members is defined %}
                                            {{ 'label.members' | trans }} :
                                            {% for members in team.members %}
                                                {{ members.username }}
                                                {% if not loop.first %}
                                                ,
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <i>{{ 'error.members.no_result' |trans }}</i>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="extra">

                                </div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}