<div class="item">
    <div class="ui mini buttons">
        <a href="{{ url('register') }}" class="ui button">{{ 'btn.register' | trans }}</a>
        <div class="or" data-text="{{ 'label.or' |trans }}"></div>
        <a href="{{ url('app_login') }}" class="ui positive button">{{ 'btn.login' | trans }}</a>
    </div>
</div>