{% extends 'layout/session.html.twig' %}

{% block title %}{{ 'page_title.password_reset_request_sent' | trans }}{% endblock %}

{% block body %}

    <div class="ui container">
        <div class="ui two column centered grid padded vh100 middle aligned doubling">
            <div class="column">
                <div class="ui header top attached inverted">
                    <span class="ui inverted header h3">
                        {{ 'title.reset_password.check_email' | trans }}
                    </span>
                    <a href="{{ url('app_login') }}">{{ 'label.login' | trans }}</a>
                </div>
                <div class="ui attached segment inverted">
                    <p>
                        {{ 'password_reset_request.check_email.line1' | trans }}
                    </p>
                    <p>
                        {{ 'password_reset_request.check_email.line2' | trans({'%forgot_password_request_url%':path('app_forgot_password_request')}) | raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
