{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.team.list'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>


    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">



            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.team.list'|trans }}

                    <a href="{{ url('admin_team_add') }}" class="ui button primary mini right floated">
                        {{ 'btn.team.add'|trans }}
                    </a>
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui list inverted">

                        {% if teams %}
                            {% for team in teams %}

                                <div class="item">
                                    <div class="content">
                                        <a href="{{ url('admin_team_edit', {'id': team.id}) }}" class="header">
                                            {{ team.name }}
                                        </a>
                                        <div class="description">Some description here later ?</div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% else %}
                            <div class="item">
                                <div class="content">
                                    {{ 'error.team.no_result'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}