<div class="ui inverted bottom center special popup">
    <div class="header">{{ 'title.notifications' | trans }}</div>
    <div class="ui inverted middle aligned selection list" id="notifications_list">

    </div>
    <div class="ui inverted primary bottom attached buttons">
        <a href="{{ url('admin_profile_notifications', {page:1}) }}" class="ui inverted button">
            {{ 'btn.notifications.list' | trans }}
        </a>
    </div>
</div>

<template id="notification_item">
    <a class="ui item" target="_blank">
        <img class="ui tiny image" id="notification_image" src="#" alt="series' image">
        <div class="content">
            <div id="notification_new_label" class="ui red tiny right ribbon label">{{ 'label.notification.new' | trans }}</div>
            <div id="notification_title" class="header"></div>
            <div id="notification_description" class="description">
                <p></p>
            </div>
        </div>
    </a>
</template>
{% if app.user is defined and app.user.id is defined %}
    <script id="notification_helper"
            data-user_id="{{ app.user.id }}"
            data-latests_notifications_url="{{ url('notification_latests') }}"
            data-sse_notification_url="{{ url('notification_sse') }}"
            data-chapter_label_translated="{{ 'reader.chapter'|trans }}"
            data-render_url="{{ url('render_image', {
                id: 'placeholder'
            }) }}"
            data-notification_url="{{ url('notifications_read', {id:'placeholder'}) }}"
            data-chapter_url="{{ url('reader', {
                seriesSlug:'{seriesSlug}',
                chapterNumber: '9999999999',
                language: '{language}',
                page: 1,
            }) }}"
    >

      let userId = "{{ app.user.id }}";
      let latestsNotificationsUrl = "{{ url('notification_latests', {
          'userId' : app.user.id
      }) }}";
      let sseNotificationUrl = "{{ url('notification_sse', {
          'userId' : app.user.id
      }) }}";
      let chapterLabelTranslated = "{{ 'reader.chapter'|trans }}";
      let renderUrl = "{{ url('render_image', {
          id: 'placeholder'
      }) }}";
      let notificationUrl = "{{ url('notifications_read', {id:'placeholder'}) }}";
      let chapterUrl = "{{ url('reader', {
          seriesSlug:'{seriesSlug}',
          chapterNumber: '9999999999',
          language: '{language}',
          page: 1,
      }) }}";

    </script>
{% endif %}