{% extends 'layout/public.html.twig' %}
{% block title %}
    {{ 'page_title.homepage'|trans }}
{% endblock %}
{% block content %}
    <div class="homepage ui container">

        <div class="ui stackable grid">
            <div class="twelve wide column">
                <div class="ui segment inverted clearing">
                    <h3 class="ui header">
                        {{ 'title.chapter.latests' | trans }}
                    </h3>
                    <div class="ui divider"></div>

                    {{ include('frontend/partial/chapter-list.html.twig', {chapters: pagination.currentPageResults}) }}

                    {% if app.request.get('_route') == 'homepage' %}
                        {% if pagination.hasNextPage %}
                            <div class="ui row">
                                <div class="ui right floated">
                                    <a href="{{ url('latest', {page:2}) }}" class="ui button teal">
                                        {{ 'btn.older_releases'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if pagination.haveToPaginate %}
                            {{ pagerfanta(pagination, 'semanticui_inverted', {'routeName': 'latest', 'routeParams':{'page':'page'}}) }}
                        {% endif %}
                    {% endif %}


                </div>
            </div>

            <div class="four wide column tablet or lower hidden">
                <div class="ui segment inverted">
                    <h3 class="ui header">
                        {{ 'title.follows' | trans }}
                    </h3>
                    <div class="ui divider"></div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {# list of follow (limit to best/latests 5 ?) #}
                        <div class="ui list inverted">
                            {% for follow in follows %}

                                <div class="item">
                                    <div class="content inline ">
                                        <a target="_blank" href="{{ url('public_series_details', {
                                            slug:follow.series.slug
                                        }) }}" class="header">
                                            {{ follow.series.name }}
                                        </a>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% else %}
                        {{ 'must_connect_to_follow'|trans }}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}