{{ include('frontend/partial/chapter-list.html.twig', {chapters: chaptersReadden.currentPageResults}) }}

{% if linkToPagination is defined and linkToPagination is same as(true) %}
    <div class="ui row">
        <div class="ui right floated">
            <a href="{{ url('admin_profile_history', {page:1}) }}" class="ui tiny button teal">
                {{ 'btn.view_chapter_historic'|trans }}
            </a>
        </div>
    </div>
{% else %}
    {% if chaptersReadden.haveToPaginate %}
        {{ pagerfanta(chaptersReadden, 'semanticui_inverted', {'routeName': 'admin_profile_history', 'routeParams':{'page':'page'}}) }}
    {% endif %}
{% endif %}