<div class="item">
    <div class="right floated content">
        {% if notification.readen is same as (false) %}
            <a href="{{ url('notifications_read', {id: notification.id}) }}"
               class="ui mini red button delete mark-as-read">
                {{ 'btn.mark_as_read'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="content inline ">
        <a target="_blank" href="{{ url('reader', {
            seriesSlug: notification.chapter.series.slug,
            chapterNumber: notification.chapter.number,
            language: notification.chapter.language,
            page: 1
        }) }}" class="header">

            {% if notification.chapter.series.customTitle is defined and notification.chapter.series.customTitle|length > 0 %}
                {{ notification.chapter.series.customTitle }}
            {% else %}
                {{ 'label.chapter'|trans }}
            {% endif %}
            {{ notification.chapter.number }} {% if notification.chapter.name is defined and notification.chapter.name|length > 0 %} : {{ notification.chapter.name }} {% endif %}
        </a>
    </div>
</div>