{% extends 'layout/admin.html.twig' %}
{% block content %}
    {{ include('backend/partials/flash-bar.html.twig') }}

    <div class="ui grid padded left aligned stackable">

        <div class="sixteen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.follows'|trans }}
                </h3>

                <div class="ui attached segment inverted">
                    {{ include('backend/partials/follows_pagination.html.twig') }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-unfollow') }}
{% endblock %}