{% extends 'layout/admin.html.twig' %}

{% block content %}

    {{ include('backend/partials/flash-bar.html.twig') }}

    {% set linkToPagination = true %}

    <div class="ui grid padded left aligned stackable three column centered">

        <div class="sixteen wide tablet screen eight wide large screen five wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.notifications'|trans }}
                </h3>
                <div class="ui attached segment inverted clearing">

                    {{ include('backend/partials/notifications_pagination.html.twig', {linkToPagination:true}) }}

                </div>
            </div>
        </div>

        <div class="sixteen wide tablet screen eight wide large screen five wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.chapter_readden'|trans }}
                </h3>
                <div class="ui attached segment inverted clearing">
                    {{ include('backend/partials/history_pagination.html.twig', {linkToPagination:true}) }}
                </div>
            </div>
        </div>

        <div class="sixteen wide tablet screen eight wide large screen five wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.follows'|trans }}
                </h3>
                <div class="ui attached segment inverted clearing">

                    {{ include('backend/partials/follow_dashboard.html.twig', {linkToPagination:true}) }}

                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-unfollow') }}
    {{ encore_entry_script_tags('admin-mark_as_read') }}
{% endblock %}