{% extends 'layout/admin.html.twig' %}

{% block content %}

    {{ include('backend/partials/flash-bar.html.twig') }}

    <div class="ui grid padded left aligned stackable">

        <div class="sixteen wide tablet screen eight wide large screen six wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.notifications'|trans }}
                </h3>
                <div class="ui attached segment inverted">
                    {{ include('backend/partials/notifications_pagination.html.twig') }}

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-mark_as_read') }}
{% endblock %}