{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.general_settings'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen ten wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.general_settings'|trans }}
                </h3>
                <div class="ui attached segment inverted">

                    {% form_theme form 'form/fields.html.twig' %}
                    {% set formClass = 'ui form inverted' %}
                    {% if not form.vars.valid %}
                        {% set formClass = formClass ~ ' error ' %}
                    {% endif %}
                    {{ form_start(form, {attr: {class: formClass, novalidate:'novalidate'} }) }}

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">
                                {{ form_row(form.id) }}

                                {{ form_row(form.logo) }}

                                <input type="submit" class="ui button green" value="{{ 'btn.save'|trans }}"/>
                            </div>

                            <div class="four wide column">
                                {% if settings.logo is defined and not settings.logo is null %}
                                <div class="form_image_column">
                                    <img class="ui image" src="{{ url('render_image', {
                                        'id': settings.logo.id
                                    }) }}" alt="">
                                    <a href="{{ url('admin_settings_delete_logo') }}" class="ui mini red button icon delete">
                                        <i class="ui delete icon"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}