{% extends 'layout/reader.html.twig' %}
{% block title %}
    {{ 'page_title.reader'|trans }}
{% endblock %}
{% block content %}
    {% form_theme form 'form/fields.html.twig' %}

    <div id="reader">
        <div class="hide" id="sidebar_menu">

            <div class="sidebar-toggle-button" id="sidebar_toggle">
                <i class="ui chevron left icon"></i>
            </div>

            <h3>
                <a href="{{ url('homepage') }}" class="">
                    {% if settings is defined and settings.logo is defined and settings.logo.id is defined %}
                        <img src="{{ url('render_image', {id:settings.logo.id, height:120}) }}" alt="LOGO">
                    {% else %}
                        <i class="home icon"></i> {{ 'btn.homepage' | trans }}
                    {% endif %}
                </a>
            </h3>

            <div class="ui inverted form">
                {{ form_row(form.chapter) }}
                {{ form_row(form.page) }}
            </div>

            {% if settings.downloadEnabled %}
                <div>
                    <a href="{{ url('download_chapter', {id: chapter.id}) }}" class="fluid ui teal button">
                        <i class="download icon"></i>
                        {{ 'download' | trans }}
                    </a>
                </div>
            {% endif %}

            <hr>

            <p>
                <a href="#" id="reader_settings_modal_trigger">
                    <i class="ui icon cogs circle"></i>
                    {{ 'title.reader_settings' | trans }}
                </a>
            </p>


            <div class="tablet only mobile only">
                <hr>
                <div class="footer centered">
                    <a href="{{ url('public_series_details', {'slug':series.slug}) }}">
                        {{ series.name }}
                    </a>
                    {{ 'label.translated_by'|trans }}
                    {% for team in teams %}
                        {% if loop.index > 1 %}
                            |
                        {% endif %}
                        <a href="{{ url('public_team_details', {'slug':team.slug}) }}">
                            {{ team.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="" id="reader_container">
            <div class="ui center aligned middle aligned grid vh100 flex-vert-horiz-center">

                {% if readerMode == constant('READER_MODE_WEBTOON_VALUE', series) %}

                    <div id="webtoon_reader">

                        {% include 'frontend/reader/partials/block-buttons.html.twig' %}

                        {% for page in chapter.pages %}
                            {% if page.scrambledImage %}
                                <div class="scroll-img-container page loading" id="page_{{ page.order }}"
                                     data-image="{{ url('render_image', {
                                         'id': page.scrambledImage.id
                                     }) }}" data-is-scrambled
                                     style="width: {{ page.scrambledImage.metadata.width }}px; height: {{ page.scrambledImage.metadata.height }}px;">
                                    <img src="{{ asset('build/img/reader/loader.svg') }}" alt="loading">
                                </div>
                            {% else %}
                                <div class="scroll-img-container page loading" id="page_{{ page.order }}"
                                     data-image="{{ url('render_image', {
                                         'id': page.image.id
                                     }) }}" style="width: {{ page.image.metadata.width }}px; height: {{ page.image.metadata.height }}px;">
                                    <img src="{{ asset('build/img/reader/loader.svg') }}" alt="loading">
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% include 'frontend/reader/partials/block-buttons.html.twig' %}
                    </div>
                {% else %}

                    <div class="tablet or lower hidden">
                        {% if readerDirection is defined and readerDirection is same as (constant('READER_DIRECTION_LTR_VALUE', series)) %}
                            {% set leftPageId = 'prev_page' %}
                            {% set rightPageId = 'next_page' %}
                        {% else %}
                            {% set leftPageId = 'next_page' %}
                            {% set rightPageId = 'prev_page' %}
                        {% endif %}
                        <div class="left-page-link button hide" id="{{ leftPageId }}">
                            <div class="content">
                                <p>
                                    <i class="chevron left icon"></i>
                                </p>
                                <p>
                                    {% if readerDirection is defined and readerDirection is same as (constant('READER_DIRECTION_LTR_VALUE', series)) %}
                                        {{ 'label.prev' | trans }}
                                    {% else %}
                                        {{ 'label.next' | trans }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="right-page-link button hide" id="{{ rightPageId }}">
                            <div class="content">
                                <p>
                                    <i class="chevron right icon"></i>
                                </p>
                                <p>
                                    {% if readerDirection is defined and readerDirection is same as (constant('READER_DIRECTION_LTR_VALUE', series)) %}
                                        {{ 'label.next' | trans }}
                                    {% else %}
                                        {{ 'label.prev' | trans }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="classic_reader">

                        {% set indexDoublePageOffset = 0 %}

                        {% set width = 0 %}
                        {% set height = 0 %}

                        {% for page in chapter.pages %}

                            {% set pageClass = '' %}
                            {% if page.image.metadata.width > page.image.metadata.height %}
                                {# double Page #}
                                {# if the double page is no well placed #}
                                {% set pageClass = ' double ' %}
                            {% else %}
                                {# Search for the highest width #}
                                {% if page.image.metadata.width > width %}
                                    {% set width = page.image.metadata.width %}
                                {% endif %}
                            {% endif %}
                            {# Search for the highest height #}
                            {% if page.image.metadata.height > height %}
                                {% set height = page.image.metadata.height %}
                            {% endif %}

                            {% if page.scrambledImage %}
                                <div class=" page {{ pageClass }} loading hide" id="page_{{ loop.index }}"
                                     data-image="{{ url('render_image', {
                                         'id': page.scrambledImage.id
                                     }) }}" data-is-scrambled>
                                    <img src="{{ asset('build/img/reader/loader.svg') }}" alt="loading">
                                </div>
                            {% else %}
                                <div class=" page {{ pageClass }} loading hide" id="page_{{ loop.index }}"
                                     data-image="{{ url('render_image', {
                                         'id': page.image.id
                                     }) }}">
                                    <img src="{{ asset('build/img/reader/loader.svg') }}" alt="loading">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

        <div id="reader_footer" class="tablet or lower hidden">
            <div class="centered">
                <div class="footer-indicator">
                    <i class="ui chevron up icon"></i>
                </div>
                <a href="{{ url('public_series_details', {'slug':series.slug}) }}">
                    {{ series.name }}
                </a>

                {{ 'label.translated_by'|trans }}
                {% for team in teams %}
                    {% if loop.index > 1 %}
                        |
                    {% endif %}
                    <a href="{{ url('public_team_details', {'slug':team.slug}) }}">
                        {{ team.name }}
                    </a>
                {% endfor %}
            </div>

        </div>

    </div>

    <div class="ui inverted modal" id="settings_reader_modal">
        <i class="close icon"></i>
        <div class="header">
            <i class="ui icon cogs"></i>
            {{ 'modal_reader_settings.title' |trans }}
        </div>

        <div class="content">
            <div class="description">
                {% form_theme settingsForm 'form/fields.html.twig' %}
                {% set formClass = 'ui inverted form' %}
                {% if not settingsForm.vars.valid %}
                    {% set formClass = formClass ~ ' error ' %}
                {% endif %}
                {{ form_start(settingsForm, {attr: {class: formClass, novalidate:'novalidate', id: 'settings_form'}, 'action': url('reader_save_settings') }) }}

                <div class="ui stackable grid two column">
                    <div class="row">
                        <div class="eight wide column">
                            {{ form_row(settingsForm.readerMode) }}
                        </div>
                        <div class="eight wide column">
                            {{ form_row(settingsForm.readerDirection) }}
                        </div>
                    </div>
                </div>
                {{ form_end(settingsForm) }}
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" id="settings_cancel">
                Nope
            </div>
            <button type="submit" form="settings_form" class="ui positive right labeled icon button">
                {{ 'btn.save'|trans }}
                <i class="checkmark icon"></i>
            </button>
        </div>

    </div>

    <div class="ui inverted modal" id="last_page_reader_modal">
        <i class="close icon"></i>

        <div class="content">
            <div class="description">
                {{ 'modal_reader_last_page.content' |trans({'%url_homepage%': url('homepage'), '%url_series_page%': url('public_series_details', {slug:series.slug}) }) |raw |nl2br }}
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" id="settings_cancel">
                {{ 'btn.close'|trans }}
            </div>
        </div>

    </div>
    <script id="reader_helper"
            data-chapter="{{ chapter|json_encode|e }}"
            data-current_page="{{ page }}"
            data-series="{{ series|json_encode|e }}"
            data-language="{{ language }}"
            data-base_url="{{ url('homepage') }}"
            data-reader_mode="{{ readerMode | default(constant('READER_MODE_CLASSIC_VALUE', series)) }}"
            data-reader_direction="{{ readerDirection | default(constant('READER_DIRECTION_RTL_VALUE', series)) }}"
    >
    </script>

{% endblock %}
