<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookuto{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {{ encore_entry_link_tags('public') }}
    {% endblock %}

</head>
<body>
    <div class="public-bg public-page" id="public_page">

        {% block sidebar %}
            <div class="headerbar">
                <div class="ui container">
                    {% if settings is defined and settings.logo is defined and settings.logo is not null %}
                        <img src="{{ url('render_image', {id:settings.logo.id, height:120}) }}" alt="LOGO">
                        {% else %}
                        {# something ? #}
                    {% endif %}
                    <div class="ui menu stackable inverted">
                        <a href="{{ url('homepage') }}" class="item">
                            {{ 'btn.homepage' | trans }}
                        </a>
                        <a href="{{ url('public_series_list', {page:1}) }}" class="item">
                            {{ 'btn.series.list' | trans }}
                        </a>
                        <a href="{{ url('public_team_list', {page:1}) }}" class="item">
                            {{ 'btn.team.list' | trans }}
                        </a>
                        <div class="right menu">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ include('frontend/partial/profile-menu.html.twig') }}
                            {% else %}
                                {{ include('frontend/partial/login-menu.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
        {{ encore_entry_script_tags('public') }}
    {% endblock %}

</body>
</html>
